* {
    font-family: verdana;
    margin: 0;
}

body {
    background: #222;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background: #fff;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: flex-end;
    height: 800px;

}

.box {
    height: 100px;
    /*min-width: 200px;*/
    /*flex-grow: 1;*/
    /*flex-basis: 200px;*/
    flex: 0 0 100px; /* shorthand */

    /* another shorthand */
    /*flex:1 this translates to -> flex: 1 1 0;*/
}

.one {
    background: red;
    /*flex-shrink: 0; !* won't shrink *!*/
    /*flex-basis: 100px;*/
}

.two {
    background: blue;
    /*flex-grow: 3;*/
    /*flex-shrink: 1;*/
    /*flex-basis: 200px;*/
}

.three {
    background: green;
    /*flex-grow: 1;*/
    /*flex-shrink: 5;*/
    /*flex-basis: 300px;*/
}
